legend {
    width: 50%;
}
body {
    background-image: url("/static/bg.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}
