legend {
    width: 50%;
}
body {
    background-image: url("/static/bg.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
}
.transparent-background {
    background-color: rgba(245, 245, 245, 0.75);
}
