{% extends "base.html" %}
    {% block title %}
        - Applicants
    {% endblock %}
    {% block greeter %}
        {{ super() }}
    {% endblock %}
    {% block menu %}
    <p align="center">
        <table align="center" width="100%">
            <tr>
                <th width="33%">
                    <h1><p align="center"><a href="{{url_for('index')}}" style="text-decoration: none">Home</a></p></h1>
                </th>
                <th width="33%">
                    <h1><p align="center"><a href="{{url_for('email_log')}}" style="text-decoration: none">E-mail Log</a></p></h1>
                </th>
                <th width="33%">
                    <h1><p align="center"><a href="{{url_for('admin_filter_interviews')}}" style="text-decoration: none">Interview Filter</a></p></h1>
                </th>
            </tr>
        </table>
    </p>
    {% endblock %}
    {% block body %}
<p><h1 align="center">Application filter</h1>

<!--<p><form action="/story" method="get"><button>Add a new User Story</button></form></p>-->
<form method="post">
<h2>Filters:</h2>
<table type="filter" style="border:1px solid black;" width="100%">
    <tr>
	      <th width ="10%" type="filter"><label for="status"><h3 align="left">Status</h3></label></th>
        <td width ="10%" type="filter" align="center">
          <select type="filter" id="status" name = 'status'>
            <option value="">------</option>
            {%for status in statuses%}
            <option value="{{status.status}}">{{status.status}}</option>
            {%endfor%}
          </select>
        </td>
        <th width ="10%" type="filter"><label for="school"><h3 align="left">School:</h3></label></th>
        <td type="filter" align="center">
          <select type="filter" id="school" name = 'school'>
            <option value="">------</option>
            {%for school in schools%}
            <option value="{{school.school}}">{{school.school}}</option>
            {%endfor%}
          </select>
        </td>
        <th width ="10%" type="filter"><label for="city"><h3 align="left">Location:</h3></label></th>
        <td type="filter" align="center">
          <select type="filter" id="city" name = 'city'>
            <option value="">------</option>
            {%for city in cities%}
            <option value="{{city.city}}">{{city.city}}</option>
            {%endfor%}
          </select>
        </td>
          <th width ="10%" type="filter"><label for="mentor"><h3 align="left">Mentor's first name:</h3></label></td>
          <td type="filter" align="center">
          <select type="filtermentor" id="mentor" name = 'mentor'>
            <option value="">------</option>
            {%for mentor in mentors%}
            <option value="{{mentor.full_name}}">{{mentor.full_name}}</option>
            {%endfor%}
          </select>
        </td>
    </tr>
</table>
<table type="filter2" align="left" width="80%">
        <th type="filter2" width ="10%"><label><h3 align="left">Registration Time:</h3></label></th>
        <td type="filter2" width ="40%" align="left">from:<input  type='date' name='time_from'></td>
        <td type="filter2" width ="40%" aign="center">to:<input  type='date' name='time_to'></td>

    <tr>
      <th type="filter2" width ="40%"><label for="name"><h3 align="left">Applicant's first name:</h3></label></th>
      <td width ="40%" type="filter2" ><input id="name" name='first_name'></td><br>
      <td width ="40%" type="filter2" ></td>
    </tr>

      <th type="filter2" width ="40%"><label for="email"><h3 align="left">Applicant's email:</h3></label></th>

      <td width ="40%" type="filter2"  ><input id="email" name='email'></td><br>
      <td width ="40%" type="filter2" ></td>
    </td>
                <!--<input id="time"required type='date' name='time3'><br>-->



                </tr>
                <!--<button type="button">Filter</button>-->
</table>
<button type="submit">Filter</button>
</form>
<table type="filter2" style="border:1px solid black;" width="90%">
    <tr>

        <th width="25%" align="center" style="border:1px solid black;">Name</th>
        <th width="15%" align="center" style="border:1px solid black;">School</th>
        <th width="25%" align="center" style="border:1px solid black;">Email</th>
        <th width="10%" align="center" style="border:1px solid black;">App. code</th>
        <th width="10%" align="center" style="border:1px solid black;">City</th>
        <th width="10%" align="center" style="border:1px solid black;">Status</th>
        <th width="10%" align="center" style="border:1px solid black;">Reg. time</th>


            {% for n in applicant_filter %}
            <tr>
                <td align="center" style="border:1px solid black;">{{n.first_name}} {{n.last_name}}</td>
                <td align="center" style="border:1px solid black;">{{n.school}}</td>
                <td align="center" style="border:1px solid black;">{{n.email}}</td>
                <td align="center" style="border:1px solid black;">{{n.code}}</td>
                <td align="center" style="border:1px solid black;">{{n.city}}</td>
                <td align="center" style="border:1px solid black;">{{n.status}}</td>
                <td align="center" style="border:1px solid black;">{{n.registration_time.strftime('%Y-%m-%d %H:%M')}}</td>


            </tr>
            {% endfor %}
    </tr>
</table>
    {% endblock %}
