<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<p><h2>Application filter</h2></p>

<!--<p><form action="/story" method="get"><button>Add a new User Story</button></form></p>-->
<form action="" method="post">
                Filter:<br>
	            <input type="submit" name="status1" value="Status">
				<select name = 'status2'>
			        <option value="new">New</option>
				    <option value="processing">Processing</option>
                    <option value="accepted">Accepted</option>
				</select><br>
                <input type="submit" name="time1" value="Registration Time">
                <input required type='date' name='time2'>
                <input required type='date' name='time3'><br>
                <input type="submit" name="location1" value="Location">
                <input required name='location2'><br>
                <input type="submit" name="applicant_name1" value="Applicant Name">
                <input required name='applicant_name2'><br>
                <input type="submit" name="email1" value="Applicant Email">
                <input required type="email" name='email2'><br>
                <input type="submit" name="school1" value="School">
				<select name = 'school2'>
			        <option value="Budapest">Budapest</option>
				    <option value="Miskolc">Miskolc</option>
                    <option value="Krakow">Krakow</option>
				</select><br>
                <input type="submit" name="mentor1" value="Mentor">
                <input required name='mentor2'>
			</form>

<table style="border:1px solid black;" width="90%">
    <tr>
        <th width="5%" align="center" style="border:1px solid black;">Name</th>
        <th width="15%" align="center" style="border:1px solid black;">School</th>
        <th width="25%" align="center" style="border:1px solid black;">Email</th>
        <th width="25%" align="center" style="border:1px solid black;">App. code</th>
        <th width="10%" align="center" style="border:1px solid black;">City</th>
        <th width="10%" align="center" style="border:1px solid black;">Status</th>
        <th width="10%" align="center" style="border:1px solid black;">Reg. time</th>


            {% for n in applicant %}
            <tr>
                <td align="center" style="border:1px solid black;">{{n.first_name}} {{n.last_name}}</td>
                <td align="center" style="border:1px solid black;">{{n.school}}</td>
                <td align="center" style="border:1px solid black;">{{n.email}}</td>
                <td align="center" style="border:1px solid black;">{{n.code}}</td>
                <td align="center" style="border:1px solid black;">{{n.city}}</td>
                <td align="center" style="border:1px solid black;">{{n.status}}</td>
                <td align="center" style="border:1px solid black;">{{n.registration_time.strftime('%Y-%m-%d %H:%M')}}</td>


            </tr>
            {% endfor %}
    </tr>

</table>

</body>
</html>