{% extends "base.html" %}
    {% block title %}
        - Applicants
    {% endblock %}
    {% block greeter %}
        {{ super() }}
    {% endblock %}
    {% block menu %}
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li><a href="{{url_for('index')}}">About Us</a></li>
            <li><a href="{{url_for('registration_form')}}">Register</a></li>
            <li><a href="{{url_for('admin_page.admin')}}">Admin Login</a></li>
            {% if session.get('username') == 'admin' %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin Options<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{url_for('admin_page.admin_filter')}}">Application Filter</a></li>
                <li><a href="{{url_for('admin_page.email_log')}}">E-mail Log</a></li>
                <li><a href="{{url_for('admin_page.admin_filter_interviews')}}">Interview Filter</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
          {% if session.get('username') %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{url_for('admin_page.logout')}}">Logout</a>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>
    {% endblock %}
    {% block body %}
<p><h1 align="center">Application filter</h1>

<!--<p><form action="/story" method="get"><button>Add a new User Story</button></form></p>-->
<form method="post">
<h2>Filters:</h2>
<table type="filter" style="border:1px solid black;" width="100%">
    <tr>
	      <th width ="10%" type="filter"><label for="status"><h3 align="left">Status</h3></label></th>
        <td width ="10%" type="filter" align="center">
          <select type="filter" id="status" name = 'status'>
            <option value="">------</option>
            {%for status in statuses%}
            <option value="{{status.status}}">{{status.status}}</option>
            {%endfor%}
          </select>
        </td>
        <th width ="10%" type="filter"><label for="school"><h3 align="left">School:</h3></label></th>
        <td type="filter" align="center">
          <select type="filter" id="school" name = 'school'>
            <option value="">------</option>
            {%for school in schools%}
            <option value="{{school.school}}">{{school.school}}</option>
            {%endfor%}
          </select>
        </td>
        <th width ="10%" type="filter"><label for="city"><h3 align="left">Location:</h3></label></th>
        <td type="filter" align="center">
          <select type="filter" id="city" name = 'city'>
            <option value="">------</option>
            {%for city in cities%}
            <option value="{{city.city}}">{{city.city}}</option>
            {%endfor%}
          </select>
        </td>
          <th width ="10%" type="filter"><label for="mentor"><h3 align="left">Mentor's first name:</h3></label></td>
          <td type="filter" align="center">
          <select type="filtermentor" id="mentor" name = 'mentor'>
            <option value="">------</option>
            {%for mentor in mentors%}
            <option value="{{mentor.full_name}}">{{mentor.full_name}}</option>
            {%endfor%}
          </select>
        </td>
    </tr>
</table>
<table type="filter2" align="left" width="80%">
        <th type="filter2" width ="10%"><label><h3 align="left">Registration Time:</h3></label></th>
        <td type="filter2" width ="40%" align="left">from:<input  type='date' name='time_from'></td>
        <td type="filter2" width ="40%" aign="center">to:<input  type='date' name='time_to'></td>

    <tr>
      <th type="filter2" width ="40%"><label for="name"><h3 align="left">Applicant's first name:</h3></label></th>
      <td width ="40%" type="filter2" ><input id="name" name='first_name'></td><br>
      <td width ="40%" type="filter2" ></td>
    </tr>

      <th type="filter2" width ="40%"><label for="email"><h3 align="left">Applicant's email:</h3></label></th>

      <td width ="40%" type="filter2"  ><input id="email" name='email'></td><br>
      <td width ="40%" type="filter2" ></td>
    </td>
                <!--<input id="time"required type='date' name='time3'><br>-->



                </tr>
                <!--<button type="button">Filter</button>-->
</table>
<button type="submit">Filter</button>

</form>
<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>Name</th>
        <th>School</th>
        <th>Email</th>
        <th>App. code</th>
        <th>City</th>
        <th>Status</th>
        <th>Reg. time</th>
    </tr>
    </thead>

    <tbody>
        {% for n in applicant_filter %}
        <tr>
            <td>{{n.first_name}} {{n.last_name}}</td>
            <td>{{n.school}}</td>
            <td>{{n.email}}</td>
            <td>{{n.code}}</td>
            <td>{{n.city}}</td>
            <td>{{n.status}}</td>
            <td>{{n.registration_time.strftime('%Y-%m-%d %H:%M')}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
