<!DOCTYPE html>
<html lang="en">
	<head>
        <link href="/static/style.css" rel="stylesheet" type="text/css" />
        {% block head %}
	    <title>Codecool{% block title %}{% endblock %}</title>
        {% endblock %}
	</head>
	<body>
        {% if message %}
            <h4 align="center">{{message}}</h4>
        {% endif %}
        {% block greeter %}

    	    {% if session.get('username') %}
                <h4 align="right">Welcome, {{session.get('username')}}
                <br><a type="logout" href={{url_for('logout')}}>Logout</a></h4>
    	    {% else %}
    	        <h4 align="right">Welcome, guest</h4>
    	    {%endif%}
        {% endblock %}
        {% block menu %}
            <p align="center">
                <table align="center" width="100%">
                    <tr>
                        {% if session.get('username') == 'admin' %}
                        <th width="33%">
                            <h1><p align="center"><a href="{{url_for('admin_filter')}}" style="text-decoration: none">Applicants Filter</a></p></h1>
                        </th>
                        <th width="33%">
                            <h1><p align="center"><a href="{{url_for('email_log')}}" style="text-decoration: none">E-mail Log</a></p></h1>
                        </th>
                        <th width="33%">
                            <h1><p align="center"><a href="{{url_for('admin_filter_interviews')}}" style="text-decoration: none">Interview Filter</a></p></h1>
                        </th>
                        {% else %}
                        <th width="50%">
					        <h1><p align="center"><a href="{{url_for('registration_form')}}" style="text-decoration: none">Registration</a></p></h1>
					    </th>
                        <th width="50%">
                            <h1><p align="center"><a href="{{url_for('admin')}}" style="text-decoration: none">Admin Login</a></p></h1>
                        </th>
                        {%endif%}
					</tr>
                </table>
            </p>
        {% endblock %}


        {% block body %}
        <p align="center"><img src="static/codecool.jpg" width="400" height="400" alt="Codecool"></p>
				<p align="center">
				<audio controls align="center">
					<source src="/static/War - Low Rider (HQ Audio).mp3" type="audio/ogg">
					</audio>
				</p>
        {% endblock %}
	</body>
</html>
