<!DOCTYPE html>
<html lang="en">
	<head>
        <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href=/static/style.css>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% block head %}
	    <title>Codecool{% block title %}{% endblock %}</title>
        {% endblock %}
	</head>
	<body>
        {% block menu %}
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{{url_for('user_page.index')}}">About Us <span class="sr-only">(current)</span></a></li>
                <li><a href="{{url_for('user_page.registration_form')}}">Register</a></li>
                <li><a href="{{url_for('admin_page.admin')}}">Admin Login</a></li>
                {% if session.get('username') == 'admin' %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin Options<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{url_for('admin_page.admin_filter')}}">Application Filter</a></li>
                    <li><a href="{{url_for('admin_page.email_log')}}">E-mail Log</a></li>
                    <li><a href="{{url_for('admin_page.admin_filter_interviews')}}">Interview Filter</a></li>
                  </ul>
                </li>
                {% endif %}
              </ul>
              {% if session.get('username') %}
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{url_for('admin_page.logout')}}">Logout</a>
                </li>
              </ul>
              {% endif %}
            </div>
          </div>
        </nav>
        {% endblock %}

        {% if message %}
			<div class="alert alert-dismissible alert-success">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <p align="center"><strong>{{message}}</strong></p>
			</div>
        {% endif %}

        {% block body %}
        <p align="center"><img src="static/codecool.png" width="600" height="300" alt="Codecool"></p>
				<p align="center">
				<audio controls align="center">
					<source src="/static/War - Low Rider (HQ Audio).mp3" type="audio/ogg">
					</audio>
				</p>
        {% endblock %}
	</body>
</html>
