{% extends "base.html" %}
    {% block title %}
        - E-mails
    {% endblock %}
    {% block greeter %}
        {{ super() }}
    {% endblock %}
    {% block menu %}
        {{ super() }}
    {% endblock %}
    {% block body %}
    <h1 align="center">E-mail log</h1>

    <!--<p><form action="/story" method="get"><button>Add a new User Story</button></form></p>-->

    <table style="border:1px solid black;" width="90%">
        <tr>
            <th width="5%" align="center" style="border:1px solid black;">Subject</th>
            <th width="15%" align="center" style="border:1px solid black;">Message</th>
            <th width="25%" align="center" style="border:1px solid black;">Email Type</th>
            <th width="25%" align="center" style="border:1px solid black;">Date Time</th>
            <th width="10%" align="center" style="border:1px solid black;">Name</th>
            <th width="10%" align="center" style="border:1px solid black;">Email</th>


                {% for n in email %}
                <tr>
                    <td align="center" style="border:1px solid black;">{{n.subject}}</td>
                    <td align="center" style="border:1px solid black;">{{n.message | truncate(140, True)}}</td>
                    <td align="center" style="border:1px solid black;">{{n.type}}</td>
                    <td align="center" style="border:1px solid black;">{{n.date.strftime('%Y-%m-%d %H:%M')}}</td>
                    <td align="center" style="border:1px solid black;">{{n.full_name}}</td>
                    <td align="center" style="border:1px solid black;">{{n.email}}</td>


                </tr>
                {% endfor %}
        </tr>

    </table>
    {% endblock %}
