<!DOCTYPE html>
<html>
	<head>
	    <title>Admin Login form</title>
	</head>

		<body>

            <h3>Registration form</h3>
            {% for m in get_flashed_messages() %}
            <div class=flash>{{ m }}</div>
            {% endfor %}
			<form action="/admin" method="post">

				<p>User name:
				<br><input required name='username'></p>

				<p>Password:
				<br><input type="password" required name='password'></p>


				<br><button type='submit'>Login</button>

			</form>
		</body>
</html>
