<!DOCTYPE html>
<html>
	<head>
	    <title>Registration form</title>
	</head>

		<body>

            <h2>Registration form</h2>
			<form action="/registration" method="post">

				<p>First name:
				<br><input required value='{{applicant.first_name}}' name='first_name'>
                {% if errors %}
                {% for key, value in errors.items() %}
                {% if key == 'first_name' %}
                <span style="color:red";>{{value}}</span>
                {% endif %}{% endfor %}{% endif %}
                </p>

				<p>Last name:
				<br><input required value='{{applicant.last_name}}' name='last_name'>
                {% if errors %}
                {% for key, value in errors.items() %}
                {% if key == 'last_name' %}
                <span style="color:red";>{{value}}</span>
                {% endif %}{% endfor %}{% endif %}
                </p>

				<p>E-mail address:
				<br><input required type='email' value='{{applicant.email}}' name='email'>
                {% if errors %}
                {% for key, value in errors.items() %}
                {% if key == 'email' %}
                <span style="color:red";>{{value}}</span>
                {% endif %}{% endfor %}{% endif %}
                </p>

				<p>City:<br>
				<select name = 'city'>
			        <option value="Budapest">Budapest</option>
				    <option value="Eger">Eger</option>
                    <option value="Szentendre">Szentendre</option>
				    <option value="Ostrava">Ostrava</option>
				</select></p>
				<br><button type='submit'>Register</button>

			</form>
		</body>
</html>
